*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body{
    height: 120vh;
    width: 100%;
    background-color: rgba(60,13,153);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}